@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');


.nav-bar{
  display: flex;
  background-color:#f75f5f;
  color:#fff;
  position: relative;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-icon-area{
  padding: 20px;
  display: flex;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.cart-area{
  display: flex;
  justify-content:space-around;
  width: 20%;
  right: 150px;
  position: relative;
  padding: 20px;
  font-family: 'Roboto', sans-serif;

}
